body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.secret_key {
  background-color: black;
  outline: none;
  border: none;
  position: absolute;
  margin: auto;
  font-size: 600%;
  text-align: center;
  bottom: 40%;
  right: 7%;
}

.pic {
  max-width: 100%;
  min-width: 100%;
  border: none;
}

.target {
  margin-top: 5%;
}

.graphic {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.hiddentext {
  display: none;
}

.tempcolor {
  background-color: #D10000;
  -webkit-transition: background-color .001s ease-in; /* Safari */
          transition: background-color .001s ease-in;
  -webkit-transition-delay: .001s; /* Safari */
          transition-delay: .001s;
}
