body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.secret_key {
  background-color: black;
  outline: none;
  border: none;
  position: absolute;
  margin: auto;
  font-size: 600%;
  text-align: center;
  bottom: 40%;
  right: 7%;
}

.pic {
  max-width: 95%;
  min-width: 90%;
  border: none;
  margin-top: 15%;
}

.target {
  margin-top: 5%;
}

.graphic {
  height: auto;
  margin: auto;
  text-align: center;
  position: relative;
}

.hiddentext {
  display: none;
}
